<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Reddit Relax</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="container" v-style="background-image: backgroundImage">

        <div id="loading" v-show="! background">Loading...</div>

        <img v-cloak class="bg" v-attr="src: cachedBackgroundImage" />

        <h2 v-cloak v-show="quote" id="quote">{{ quote.title }}</h2>

        <div id="controls">
            <button v-on="click: togglePlaying">{{ playOrPauseText }} Music</button>
            <button v-if="musicPlaying" v-on="click: newTrack">New Track &gt;</button>
            <button v-on="click: toggleRefresh">{{ stopRefreshingText }} Refreshing</button>
        </div>

        <div id="footer">

            <div><a href="{{ quote.url }}">Quote</a> posted by {{ quote.author }}</div>

            <div><a href="{{ background.url }}">Image</a> posted by {{ background.author }}</div>

            <div v-if="currentTrack">
                <a href="{{ currentTrack.permalink_url }}">Music</a> by <a href="{{ currentTrack.user.permalink_url }}">{{ currentTrack.user.username }}</a>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.14/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
    <script src="SoundPlayer.js"></script>
    <script src="app.js"></script>
</body>
</html>